RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
DirectoryIndex View/login.php

#RewriteRule ^((?!index\.php).+)$ /main/index.php [L]

#RewriteRule ^(.*)$ /login.php?path=$1 [NC,L]


